.menu-title {
    font-weight: 700; 
    font-size: 1.8rem; 
    margin: 0; 
}

.menu-header {
    border-bottom: 1px solid #ccc;
    padding: 20px 0; 
    display: flex;
    background-color: lavenderblush; 
    justify-content: center; 
    position: relative; 
    text-align: center;
}
